.filters-container{
    display: flex;
    justify-content: center;
    margin: 20px;
    gap:20px;
}
.filters-container button{
    border-radius: 60px;
    border: 1px solid rgba(29, 97, 84, 1);
    padding:10px;
    min-width: 100px;
    color:rgba(29, 97, 84, 1);
    background-color: rgba(255, 254, 248, 1);;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Syne';
}
.filters-container button:hover{
    background-color: rgba(29, 97, 84, 1);
    color: white;
}
#connexion{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    margin-top: 130px;
}
#connexion label {
    display: block;
    font-weight: 500;
    padding-top: 20px;
}
#connexion div input{
    width: 379px;
    height: 51px;
box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
border: none;
}
#connexion form > input{
    border: none;
    padding: 12px 40px;
    width: auto;
    margin-bottom: 5px;
    font-size: 14px;
}
#connexion form{
    display: flex;
    flex-direction: column;
}

/* #connexion > *{
    display: block;
    margin: auto;
    margin-top: 20px;
}*/
#connexion div *{
    margin-top: 10px;
} 
#connexion a{
    color: #222222;
}
.login-error-message{
    display: none;
    font-size: 30px;
    font-weight: 700;
}
.display-important{
    display: block !important;
}
.display-none-important{
    display: none !important;
}
.display-inline-important{
    display: inline !important;
}
.display-flex-important{
    display: flex !important;
}
#edit-mode-banner{
    background-color: black;
    width: 100%;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 16px;
    display: none;
}
#logout-link{
    display: none;
}
#edit-mode-project-modify-button{
    display: none;
    background-color: transparent;
    border: none;
}

.action-button{
    border: none;
    padding: 12px 40px;
    width: auto;
    margin-bottom: 5px;
    font-size: 14px;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	text-align: center;
	border-radius: 60px ;
}
#edit-mode-div{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #22222299;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
#edit-gallery-panel{
    width: 630px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#edit-mode-div h2{
    font-family: Work-Sans;
    font-size: 26px;
    font-weight: 400;
    color: black;
}
#edit-panel-close-button{
    margin-left: auto;
    margin-right: 20px;
    margin-top: 20px;
    border: none;
    background-color: white;
}
#photos-edit-panel{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
    padding: 50px 0;
    margin: 0 50px;
    justify-content: flex-start;
    border-bottom: 1px solid #B3B3B3;
}
#edit-mode-div img{
    width: 100%;
    height: 120px;
}
#edit-mode-div figure{
    position: relative;
    width: 17%;
}
#edit-mode-div figure button{
    position: absolute;
    top:5px;
    right:5px;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px;
}